.container {
  max-width: 700px;
}
.todoInput {
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 1.5rem;
}
.todoInput__form {
  flex: 1;
}
.invalid-feedback {
  flex-grow: 1;
  position: absolute;
  bottom: 0;
}

.todo-list {
  border-bottom: 1px solid var(--bs-light);
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}
.form-check-label {
  flex: 1;
  word-break: break-all;
}
.form-check-label.is-checked {
  text-decoration: line-through;
  color: #ccc;
}